Favoritas

<div style="margin-left: 20px">

</br>

<% @favorite_lists.each do |list| %>

  <%= list.name %> |
  <%= list.description %> |
  <%= list.private ? 'Privada' : 'Publica' %> |
  Criada por: <%= list.user.name %> |
  Criada em: <%= list.created_at.strftime("%d-%m-%Y %H:%M") %>
  <% if current_user.id == list.user_id %>
    | <%= link_to "Adicionar Tarefa", controller: :tasks, action: :new, list_id: list.id %>
  <% end %>

  <% list.tasks.where(task_id: nil).each do |task| %>

    <%= render partial: 'task', locals: {t: task, owner: current_user.id == list.user_id} %>

  <% end %>

  </br>

<% end %>

</div>
