</br>
<div id='my_lists'>
  <% @my_lists.each_with_index do |list, index| %>
    <div class="card">
      <div class="card-header" id="heading<%= index %>"
               data-toggle="collapse"
               data-target="#collapse<%= index %>"
               aria-expanded="true"
               aria-controls="collapse<%= index %>"
      >
        <h5 class="mb-0">
          <div class='row pointer'>
            <div class='col-6 col-md-4 col-lg-3 text-truncate'
                 data-toggle='tooltip'
                 data-trigger="click"
                 title='<%= "#{list.name} - " %><%= list.description %>'
            >
              <i class="fa fa-list med-icon" aria-hidden="true"></i>
              <%= list.name %>
            </div>
            <div class='col-6 col-md-2 col-lg-2 text-truncate'
                 data-toggle='tooltip'
                 title='<%= list.private ? 'Privada' : 'Publica' %>'
            >
              <% if list.private %>
                <i class="fa fa-eye-slash med-icon" aria-hidden="true"></i>
                Privada
              <% else %>
                <i class="fa fa-eye med-icon" aria-hidden="true"></i>
                Publica
              <% end %>
            </div>
            <div class='col-12 col-md-6 col-lg-3 text-truncate'
                 data-toggle='tooltip'
                 title='Criada em: <%= list.created_at.strftime("%d-%m-%Y %H:%M") %>'
            >
                <i class="fa fa-calendar med-icon" aria-hidden="true"></i>
                <%= list.created_at.strftime("%d-%m-%Y %H:%M") %>
            </div>
            <div class='col-6 col-md-6 col-lg-2 text-truncate float-right'
               data-toggle='tooltip'
               title='Adicionar uma nova tarefa a lista "<%= list.name %>"'
            >
              <%= link_to({controller: :tasks, action: :new, list_id: list.id}) do %>
                <i class='fa fa-plus med-icon' aria-hidden='true'></i> Tarefa
              <% end %>
            </div>
            <div class='col-6 col-md-6 col-lg-2 text-truncate'
              data-toggle='tooltip'
              title='Adiciona essta lista as suas favoritas'
            >
                <%= link_to({controller: :user, action: :favorite_list, list_id: list.id}) do %>
                  <i class='fa fa-star med-icon' aria-hidden='true'></i> Favoritar
                <% end %>
            </div>
          </div>
        </h5>
      </div>
      <div id="collapse<%= index %>"
           class="collapse"
           aria-labelledby="heading<%= index %>"
           data-parent=""
      >
        <div class="card-body bg-info">
          <% list.tasks.where(task_id: nil).each_with_index do |task, index| %>
            <%= render partial: 'task', locals: {t: task, owner: current_user.id == list.user_id, index: index, bg: 'bg-primary'} %>
          <% end %>
          <%= 'Essa lista não possuí tarefas' if list.tasks.size == 0 %>
        </div>
      </div>
    </div>
  <% end %>
</div>
