Publica

<div style="margin-left: 20px">

</br>

<% @public_lists.each do |list| %>

  <%= list.name %> |
  <%= list.description %> |
  <%= list.private ? 'Privada' : 'Publica' %> |
  Criada em: <%= list.created_at.strftime("%d-%m-%Y %H:%M") %> |
  Criada por: <%= list.user.name %>

  <% list.tasks.where(task_id: nil).each do |task| %>

    <%= render partial: 'task', locals: {t: task} %>

  <% end %>

  </br>

<% end %>

</div>

