Página Principal
</br>
</br>
Bem vindo <%= current_user.name %>!

</br>
</br>

<div id='att_msg'></div>

</br>
</br>

<%= render partial: 'list' %>

</br>
</br>

<%= render partial: 'public' %>

</br>
</br>

<%= render partial: 'favorite' %>

</br>

</br>
</br>

<%= link_to 'Deslogar', destroy_user_session_path, method: :delete %>

<script>
  verify_new_info('att_msg');
</script>

