<div class="task_fields" style='margin-left: 10px'>
  <div class="field">
    <%= f.label :Nome %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :Descrição %>
    <%= f.text_field :description %>
  </div>

  <%= link_to_remove_fields 'Remover', '.task_fields' %>

  </br>
  </br>
</div>
