Nova Tafera

</br>
</br>

<%= form_for(@task, url: 'create') do |f| %>
  <%= f.hidden_field :list_id, value: params[:list_id] || @task.list_id %>
  <%= f.hidden_field :task_id, value: params[:task_id] || @task.task_id %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="field">
    <%= f.label :Nome %>:
    <%= f.text_field :name %>
  </div>

  </br>

  <div class="field">
    <%= f.label :Descrição %>:
    <%= f.text_field :description %>
  </div>

  </br>
  </br>

  <div class="actions">
    <%= f.submit 'Criar Tarefa' %>
  </div>

<% end %>
